.add-user-container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-user-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-user-container label {
    margin: 10px 0 5px;
  }
  
  .add-user-container input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-user-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-user-container button:hover {
    background-color: #45a049;
    
  }
  