body {

  background-color: #f0f0f0;
  margin: 20px;
  padding: 0;
}

.App {
  max-width: 800px;
  margin:200px auto; /* Centers the container horizontally */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
  color: #333;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
